/*전체 영역을 통틀어서 스타일 정의*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
	font-family: 'Nanum Gothic';
}
a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #bbbbbb;
	text-decoration: none;
	cusor:pointer;
}
/*내비게이션 영역*/
.navbar-default {
	/*배경 색상*/
	background-color: #000000;
	border-color: #00000000;
}
.navbar-default .navbar-brand{
	/*내비게이션 제목 색상*/
	color: #ffffff;
}
.navbar-default .navbar-brand: hover,
.navbar-default .navbar-brand: focus {	
	/*내비게이션 제목에 마우스를 올렸을 때*/
	background-color: transparent;
	color:#bbbbbb;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
	/*현재 선택된 내비게이션 색상 이벤트*/
	color: powderblue;
	background-color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
	/*내비게이션의 글자에 마우스를 올렸을 때*/
	color: #bbbbbb;	
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
	/*현재 선택된 내비게이션 색상 이벤트*/
	color: #000000;
	background-color: #ffffff;
	text-decoration: none;
}
.navbar-default .navbar-nav > li > a {
	/* 내비게이션 기본 색상 */
	color : white;
}
@media(max-width: 767px){
	/*해상도가 작을 떄 드랍다운 아이템에 마우스를 올렸을 때 */
	.navbar-default .navbar-nav .open .dropdown-menu >li >a{
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu >li >a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu >li >a:focus{
	color: #bbbbbb;
	}
}


#index_input_container{
	/* index 페이지 검색창 가운데 정렬*/
	text-align: center;
}

#popular_blockquote{
	background:#f9f9f9;
	border-left: 10px solid #cccccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

#popular_blockquote:before{
	color: #cccccc;
	content: open-quote;
	font-size: 3em;
	line-height: 0.1em;
	margin-left:0.25em;
	vertical-align: -0.4em;
}

#popular_blockquote:after{
	color: #cccccc;
	content: close-quote;
	font-size: 3em;
	line-height: 0.1em;
	margin-left:0.25em;
	vertical-align: -0.4em;
}
