/* Copyright 2019 The Juho Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the License file.*/

/* border-width: 5px;
border-color: red;
border-style: solid; */

a{
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: green;
}

h2{
  margin:0;
}

#one-KDP{
  width:100%;
  height:64px;
}

#logo-KDP{
  text-align: center;
  margin-top:100px;
  weight:100%;
  height:92px;
  margin-bottom:20px;
}

#fakebox-container{
  text-align: center;
  margin: 50px;
}

#fakebox{
  display:grid;
  grid-template-columns: 1fr 200px 1fr;

}
#fakebox-text{
  text-align: right;
  display: block;
}

#fakebox-input{
  display: block;
}
#fakebox-search{
  text-align: left;
  display: block;
}
#des_container1{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
#des{
  display: grid;
  grid-template-columns: 150px 50px 1fr;
}

#night_day{
  display: none;
}
